@keyframes pushin {
  0% {
    transform: translateX(0)
   }
   100% {
    transform: translateX(200px)
   }
  }

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
/*para rotar el disco*/

body {
  background-image: url(fondo-estopa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.box {
  background-image: url(foto-cd.jpg);
  background-size: contain;
  box-shadow: 2px 2px 6px #000000;
  width: 300px;
  height: 300px;
}

.disc {
  background: repeating-radial-gradient(#000000, #000000 20px, #232323 20px, #020202 25px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #000000;
  display: flex;
  z-index: -1;
  position: relative;
  right: 7%;
  align-items: center;
  justify-content: center;
  animation: pushin 3s ease-in infinite alternate;
}

.smallcircle {
background: radial-gradient(#cac5c5, #555555 20px);
width: 15%;
height: 15%;
border-radius: 50%;
}

.bigcircle {
  background-image: url(bigcircle.png);
  background-size: contain;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*falta poner animación y poner foto en bigcircle con bordes*/
